/* ブラウザがそれぞれ持っているSCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  background-color: #EC715F; /*ヘッダーの背景色*/
  display: block;
  unicode-bidi: isolate;
}


.container {
  width: 90%;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

/* いらないかも？*/
div {
  unicode-bidi: isolate;
}

.logo {
  height: 50px; 
}

img {
  /* 指定したサイズで表示*/
  overflow-clip-margin: content-box;
  /*切り取ったサイズ以下を表示させない*/
  overflow: clip;
}

 /*全てのリンク（訪問済みとみ訪問の両方）に適用される非標準の疑似クラス*/
a {
  /* リンクのデフォルトの色を指す非標準*/
  color: #ffffff;
  cursor: pointer;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  /* リスト項目として表示するための標準的な設定*/
  display: list-item;
  unicode-bidi: isolate;
}

.nav-list {
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

/* 後で使用する
.menu-box {
  width: 40px;
  height: 40px;
  margin-right: 5%;
  border: 1px solid #FAFAFA;
  margin-top: 5px;
  margin-left: auto;
}
*/