<div class="container header-group">
  <a herf="#mv">
    <img class="logo" src="images/logo.png" alt="ロゴ">
  </a>
  <div class="menu-box">
    <span class="list-bar"></span>
    <span class="list-bar"></span>
    <span class="list-bar"></span>
  </div>
  <nav>
    <ul class="nev">
      <li class="nev-list">
        <%= link_to "Portfolio", "#portfolio" %>
      </li>
      <li class="nev-list">
        <%= link_to "Feature", "#feature" %>
      </li>
      <li class="nev-list">
        <%= link_to "Profile", "#profile" %>
      </li>
      <li class="nev-list">
        <%= link_to "Contact", "#contact" %>
      </li>
    </ul>
  </nav>
</div>

